@import './reset.scss';
@import './element.scss';
@import './icon.scss';

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.clearfix{
  zoom: 1;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
html,
body,
#app {
  height: 100%;
}
// 设置版心
.banxin {
  width: 1200px;
  margin: 0 auto;
}


// 标签内的文本内容超出两行用省略号代替

// @mixin p-common {
//   text-overflow: ellipsis;
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
// }
